@import url('https://fonts.googleapis.com/css?family=Poppins:400, 500, 600, 700');
@import "scss/fontawesome.scss";
@import "scss/solid.scss";

*{
  box-sizing: border-box;
}
body{
    background-color: hsl(0, 100%, 74%);
    background-image: url('../images/bg-intro-desktop.png');
    font-size: 16px;
    font-family: 'Poppins';
    
 }
 input[type=text],input[type=email],input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: hsl(154, 59%, 51%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: hsl(154, 59%, 51%);
  }
  
  .container{
   flex-direction:row;
   flex: 3;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   min-height: 100vh;
   margin: 0;
  }
  
  .child1{
    font-size: 20px;
    color: #FFFFFF;
  }
  .header {
    background-color: hsl(248, 32%, 49%);
    padding: 10px;
    border-radius: 5px;
    display: flex;
  }
  .header p{
    color: white;
    text-align: center;
  }
  .form {
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 20px;
    display: block;
  }
  .form-control{
    position: relative;
  }
  .form-control.error input{
    border-color: hsl(0, 100%, 74%);
  }
  .form-control.error i.fa.exclamation.circle{
    color: hsl(0, 100%, 74%);
    visibility: visible;
  }
  .form-control.error label{
    color: hsl(0, 100%, 74%);
    visibility: visible;
  }
  .form-control img{
    position: absolute;
    top: 50px;
    right: 20px;
  }
  .form-control label{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  h2{
      color: white;
  }
  p{
      
      font-size: 15px;
  }
  a {
      color: hsl(0, 100%, 74%);
      text-decoration: none;
  }
   